
.navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 15px;
}

.controls {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}